<app-viewport>
  <div header>
    <div class="entry__header">
      <app-back [url]="'/diary'"/>
      <div class="entry__header-actions">
        <app-button
          [disabled]="!id()"
          [type]="'link'"
          (click)="onEdit()">
          <fa-icon [icon]="faPencil"/>
        </app-button>
        <app-button
          [disabled]="!id()"
          [type]="'link'"
          (click)="onDelete()">
          <fa-icon [icon]="faTrash"/>
        </app-button>
      </div>
    </div>
  </div>
  <div body>
    <div class="entry" [ngClass]="{ 'analyzed pb-0': false }">

      <div class="entry__date">
        <app-date-time-picker
          [disabled]="isShowMode()"
          [value]="selectedDate()"
          [min]="'2020-01-01T00:00'"
          [max]="DateTimePicker.format()"
          (valueChange)="onDateUpdated($event)" />
      </div>

      <div class="entry__form">
        <div>
        <textarea class="entry__content"
                  #contentInput
                  [disabled]="isShowMode()"
                  [placeholder]="'Write your entry...'"
                  [value]="form().content"
                  [attr.maxlength]="maxLength"
                  (input)="onContentInput($any($event.target).value)"
                  style="resize: none;">
        </textarea>

          <div class="help-text">
            Min length: {{ minContentLength }}
          </div>

          <div class="entry__count">
            {{ contentLength() }} / {{ maxLength }}
          </div>
        </div>
      </div>

      <div class="entry__actions">

        @if(!isShowMode()) {
          <app-button (click)="onSubmit()" [disabled]="!isValid()">
            <fa-icon [icon]="faCheck"/>
          </app-button>
        }

        @if (isShowMode() && isAnalysisAvailable()) {
          <app-button (click)="onSubmit()" [disabled]="!isValid()">
            <fa-icon [icon]="faWandMagicSparkles"/>
          </app-button>
        }

      </div>

      @if (isDeleting()) {
        <div class="modal">
          <div class="modal__content">

            <div class="modal__body text-center mb-2">
              Confirm deletion?
            </div>

            <div class="modal__action">
              <button class="btn btn-default full-width"
                      (click)="onDelete()">
                Confirm
              </button>

              <button class="btn btn-default btn-outline full-width"
                      (click)="isDeleting.set(false)">
                Cancel
              </button>
            </div>

          </div>
        </div>
      }

    </div>
  </div>
</app-viewport>
