<app-viewport>
  <div header>
    <app-back [url]="'/diary'"/>
    <div class="screen__heading diary__heading">
      Search
    </div>
  </div>
  <div body>
    <div class="search">
      <input
        class="search__control"
        [value]="searching()"
        (input)="onSearchInput($any($event.target).value)"
        type="text"
        placeholder="Search"
      />
      <div class="search__box">
        <div class="virtual-scroll-box">
          <app-entries [items]="items()"/>
          @if (!reachedEnd()) {
            <div
              class="observer-trigger"
              appIntersectionObserver
              (visible)="onBottomReached()"
            ></div>
          }
          @if (!items().length) {
            <div class="p">Please typing some words...</div>
          }

        </div>

      </div>
    </div>

  </div>
</app-viewport>
