@if (items.length) {
  @if (useVirtualScroll) {

    <cdk-virtual-scroll-viewport
      itemSize="160"
      (scrolledIndexChange)="onVirtualScroll($event)"
      class="diary__items">

      @for (group of items; track group.date) {
        <div class="diary__item">

          <div class="diary__item-date">
            {{ group.display }}
          </div>

          @if (group.entries.length > 0) {
            <div class="diary__entries">
              @for (entry of group.entries; track entry.id) {
                <a
                  class="diary__entry-link"
                  [routerLink]="['/diary/entry', entry.id]"
                >
                  <div class="diary__entry">

                    <div class="diary__entry-head">
                      <span class="diary__entry-time">
                        {{ formatTime(entry.createdAt) }}
                      </span>

                      @if (entry.analysis) {
                        <span class="diary__entry-status analyzed">
                          Analysis completed
                        </span>
                      }
                    </div>

                    <div class="diary__entry-body">
                      <div class="diary__entry-description">
                        {{ entry.content }}
                      </div>
                    </div>

                  </div>
                </a>
              }
            </div>
          }

        </div>
      }

    </cdk-virtual-scroll-viewport>

  } @else {

    <div class="diary__items">

      @for (group of items; track group.date) {
        <div class="diary__item">

          <div class="diary__item-date">
            {{ group.display }}
          </div>

          @if (group.entries.length > 0) {
            <div class="diary__entries">
              @for (entry of group.entries; track entry.id) {
                <a
                  class="diary__entry-link"
                  [routerLink]="['/diary/entry', entry.id]"
                >
                  <div class="diary__entry">

                    <div class="diary__entry-head">
                      <span class="diary__entry-time">
                        {{ formatTime(entry.createdAt) }}
                      </span>

                      @if (entry.analysis) {
                        <span class="diary__entry-status analyzed">
                          Analysis completed
                        </span>
                      }
                    </div>

                    <div class="diary__entry-body">
                      <div class="diary__entry-description">
                        {{ entry.content }}
                      </div>
                    </div>

                  </div>
                </a>
              }
            </div>
          }

        </div>
      }

    </div>

  }
}
