.diary {

  &__items {
    height: 100% !important;
  }

  &__item {
    margin-bottom: 2rem;

    &-date {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: var(--heading-font), sans-serif;
      margin-bottom: 1rem;
    }
  }

  &__entries {
    display: grid;
    gap: 1rem;
  }

  &__entry {
    &-link {
      display: block;
      text-decoration: none;
      color: inherit;
    }

    &-head {
      margin-bottom: 0.6rem;
      display: inline-flex;
      align-items: center;
      font-size: 0.9rem;
    }

    &-time {
      opacity: 0.8;
      margin-right: 1rem;
    }

    &-status {
      padding: 0.3rem 0.8rem;
      border-radius: 1rem;
      background: var(--danger);
      color: var(--black);

      &.analyzed {
        background: var(--success);
      }
    }

    &-body {
      background: var(--gray);
      padding: 1.4rem 1rem;
      border-radius: var(--border-radius);
    }

    &-title {
      font-family: var(--heading-font), sans-serif;
      margin-bottom: 0.6rem;
      font-weight: 500;
    }

    &-description {
      opacity: 0.85;
    }
  }
}
