a,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  appearance: none;
}


.text-center {
  text-align: center;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.screen {

  &__back {
    margin: 0 -1rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    font-family: var(--basiquePro), sans-serif;
  }

  &__action {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    .btn {
      line-height: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19) !important;
    }
  }

}
