button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  appearance: none;
}


.text-center {
  text-align: center;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}
