<div class="reminder">
  <div class="reminder-row">
    <label>Hours:</label>
    <select [value]="hour" (change)="onHourChange($event)">
      <option value="">--</option>
      @for (h of hours; track $index) {
        <option [value]="$index.toString().padStart(2, '0')">
          {{ $index.toString().padStart(2, '0') }}
        </option>
      }
    </select>
  </div>

  <div class="reminder-row">
    <label>Minutes:</label>
    <select [value]="minute" (change)="onMinuteChange($event)">
      <option value="">--</option>
      @for (m of minutes; track $index) {
        <option [value]="($index * 5).toString().padStart(2, '0')">
          {{ ($index * 5).toString().padStart(2, '0') }}
        </option>
      }
    </select>
  </div>
</div>
