<app-viewport>
  <div header>
    <app-back [url]="'/dictionary'"/>
    <div class="screen__heading diary__heading">
      Search
    </div>
    <div class="search__head">
      Found <b>"{{ phrase() }}"</b>
    </div>
  </div>

  <div body>
    <div class="search" (scroll)="onScroll($event)">
      <div class="virtual-scroll-box">

        <app-entries
          [items]="items()"
          [useVirtualScroll]="false"
        />

        @if (loading()) {
          <div class="loader">Loading...</div>
        }

        @if (!items().length && !loading()) {
          <div class="p">No results...</div>
        }

      </div>
    </div>
  </div>
</app-viewport>
