<div class="navigation">
  <a class="navigation__item" [routerLink]="'/diary'">
    <span class="navigation__item-label " [routerLinkActive]="'active'">
      <img [src]="img('icons/diary.svg')" alt="diary.svg">
    </span>
  </a>
  <a class="navigation__item" [routerLink]="'/calender'">
    <span class="navigation__item-label"  [routerLinkActive]="'active'">
      <img [src]="img('icons/calendar.svg')" alt="calendar.svg">
    </span>
  </a>
  <a class="navigation__item" [routerLink]="'/dictionary'">
    <span class="navigation__item-label"  [routerLinkActive]="'active'">
      <img [src]="img('icons/dictionary.svg')" alt="dictionary.svg">
    </span>
  </a>
  <a class="navigation__item" [routerLink]="'/profile'">
    <span class="navigation__item-label"  [routerLinkActive]="'active'">
      <img [src]="img('icons/profile.svg')" alt="profile.svg">
    </span>
  </a>
</div>
