:host {
  display: block;
}

.viewport {
  position: absolute;
  inset: 0;
  background: var(--white);
  overflow: hidden;
  font-family: var(--ttChocolates), sans-serif;
  font-size: 1rem;
  top: 3rem;
  bottom: 3.5rem;
  left: 0;
  right: 0;
}
