:host {
  display: block;
}

.viewport {
  position: fixed;
  inset: 0;
  background: var(--white);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--ttChocolates), sans-serif;
  font-size: 1rem;
}
