.dtp {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &__calendar {

  }

  &__label {
    position: relative;
  }

  &__input {
    display: inline-flex;
    font-size: 1.1rem;
    padding-right: 0.5rem;
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--ttChocolates), sans-serif;
    color: var(--black);
    font-weight: 700;

    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
