.onboarding {
  align-items: center;
  justify-content: center;

  &__box {


  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 3rem;
    gap: 0.5rem;
    height: 0.5rem;
    &-item {
      background: var(--gray);
      border-radius: var(--border-radius);
      height: 0.5rem;
      &.active {
        background: var(--black);
      }
    }
  }

  &__heading {
    font-weight: 800;
    font-family: var(--basiquePro), sans-serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    &.title {
      font-size: 2rem;
      margin-bottom: 0.25rem;
    }
  }

  &__subheading {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__next-btn {
    display: grid;
    position: fixed;
    z-index: 2;
    bottom: 1.75rem;
    left: 1rem;
    right: 1rem;
    transform: translateY(1rem);
  }

  &__actions {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    &.active {
      grid-template-columns: 0.2fr 1fr;
      .btn:last-child {
        width: auto;
      }
    }
  }
}
