@use "./styles/variables";
@use "./styles/fonts";
@use "./styles/presets";

.virtual-scroll-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[body] {
  height: 100%;
}

.p-0 {
  padding: 0 !important;
}

.search {
  position: relative;
  padding: 0 1rem;
  height: calc(100vh - 12.5rem);
  overflow: auto;
}
