@use "./styles/variables";
@use "./styles/fonts";
@use "./styles/presets";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[body] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
