
.btn {
  outline: none;
  box-shadow: none;
  border: 1px solid;
  padding: 0.85rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 1rem;
  font-family: var(--text-font), sans-serif;

  &-default {
    background: var(--black);
    color: var(--white);
    border-color: var(--black);
    &:hover {
      background: var(--black);
      color: var(--white);
      border-color: var(--black);
    }
  }

  &-outline {
    background: var(--white);
    color: var(--black) !important;
    border-color: var(--black) !important;
    &:hover {
      background: var(--white);
      color: var(--black) !important;
      border-color: var(--black) !important;
    }
  }

  &-link {
    background: none;
    border: 1px solid transparent;
    color: var(--black);
    text-decoration: none;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      margin-right: 0.4rem;
    }
  }

  &:disabled {
    opacity: 0.4;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }

  &-reset {
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    background: none;
  }
}
